mkdocs>=1.6.1,<2
mkdocs-material>=9.7.6,<10
mkdocs-autorefs>=1.4.4,<2
pymdown-extensions>=10.21.2,<11
mkdocs-macros-plugin>=1.5.0,<2
mkdocs-git-revision-date-localized-plugin>=1.5.1,<2
mkdocs-minify-plugin>=0.8,<1
